{% extends "layout.html" %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}">
<div class="container-fluid">
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex">
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Signup</button>
        </div>
      </div>
    </div>
  </header>
  <div class="card">
      <h1 class="ms-5 mt-3 mb-3" style="font-weight: bolder;">LOGIN TO YOUR ACCOUNT</h1>
      <hr class="my-4">

<div class="main">
    <form method= "POST" action={% url "login" %} id="form">
      {% csrf_token %}
        <div class="in">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>

        <div class="in">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
    
    <hr class="my-4">
    <button type="submit">LogIn</button>
</form>
</div>
</div>
</div>
{% endblock %}