label{
    color: #17252A;
    font-size: larger;
}

.col-lg-12
{
    background-color: #2B7A78;
}

main{
    margin-left: 20px;
    margin-right: 20px;
    background-color:#3AAFA9;
}

body{
    padding: 0px;
    margin: 0px;
}

button{
    background-color: #DEF2F1;
}